html {
    color: rgb(219, 219, 219);
    margin: 0;
}
header {
  display: flex;
  justify-content: center;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-template-columns: auto auto;
  background-image: url("/assets/star-wars-star-background-4.jpg");
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-template-columns: auto auto;
  background-image: url("/assets/star-wars-star-background-4.jpg");
  padding: 1rem;
  }

  button {
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10% / 50%;
    background-color: rgb(219, 219, 219);
    margin-left: 20px;
    margin-bottom: 20px;
  }